body{
    color: black;
    background: linear-gradient(to top, #0076A2, rgb(250, 248, 248) 10%);
}

p{
    text-align: center;
    font-size: 12px;
}

ul{
    list-style-type: none;
}

h2{
    text-align: center;
}

h1{
    text-align:center;
}

.social-contact{
    align-items: center;
    display:flex;
    justify-content:space-between; 
    
}

.hz-image{
    background: transparent;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom: 0.25rem;
    border-radius: 30%;
    padding: 1rem;
    align-content: center;
    align-items:center;
    cursor: pointer;
    transition: all ease-in-out 0.7s;
    
}

#about{
    
}

@media screen and (max-width: 376px) {
    .display-4 {
        font-size: 1.5rem;
        text-align: center;
    }

    .fadown{
        height: 10rem;
        width: 10rem;
        align-items: center;
    }

    .img-hz{
        height: auto;
        width:auto;
        border-image-width: auto;
    }

    .social-contact{
        align-items: center;
        justify-content:center; 
    }
    .social-img{
        width:2rem;
        height: 2rem;
    }

    .hz-image{
        width: 350px;
        height:350px;

    }
    h2{
        font-size: 1.2rem;
    }

    
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1680px) {
}

@media screen and (max-width: 1920px) {
}

@media screen and (max-width: 2560px) {
}

